.taskForm{
  margin: auto;
  width: 80%;
}

.container{
  width: 100px;
  margin-top: 20px;
  padding: 10px;
}

#status{
  margin: 5px;
  margin-top: 20px;
}

.btn{
  float: inline-end;
  margin: 5px;
}

table {
  text-align: center;
}

th, td {
  vertical-align: middle;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

.complete td span{
  color: gray;
}

.container h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url('/src/Images/buddha-colorful.jpg');
  color: beige;
  text-align: center;
  text-transform: uppercase;
  background-repeat: repeat; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  
}